:root {
    --color-main: #434455;
    --color-link: #4D5AE5;
    --color-fff: #FFFFFF;
    --color-a: #2E2F42;
    --color-logo-footer: #F4F4FD;
    --color-addres: #434455;
    --color-p-footer: #E7E9FC;
    --color-button-portfolio: rgba(0, 0, 0, 0.1);
    --color-button-portfolio-one: rgba(0, 0, 0, 0.08);
    --color-button-portfolio-two: rgba(0, 0, 0, 0.12);
    --color-button-rgba: rgba(0, 0, 0, 0.15);
    --color-button-ind: rgba(46, 47, 66, 0.08);
    --color-button-inde: rgba(46, 47, 66, 0.16)
    --color-button-index: rgba(46, 47, 66, 0.08);
    --color-active: #404BBF;
    --color-team: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    padding-top: 24px;
    padding-bottom: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.main-nav{
    align-items: center;
    display: flex;
}

.portfolio-a {
    text-decoration: none;
}

.ul {
    list-style-type: none;
}

.ul .li-nav:not(:last-child) {
    margin-right: 40px;
}

.li-nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.ul-nav {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    list-style-type: none;
}

.ul-addres {
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.ul-addres {
    margin-left: auto;
}

.ul .li-addres:not(:last-child) {
    margin-right: 40px;
}

.li-advantages:not(:last-child) {
    margin-right: 24px;
}

.ul-advantages {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 120px;
    margin-right: 0;
    margin-top: 0;
}

.li-advantages {
    width: 264px;
}

.ul-imeges {
    display: flex;
}

.li-imeges:not(:last-child) {
    margin-right: 24px;
}

.ul-photos-hero {
    display: flex;
}

.div-team {
    background-color: var(--color-team);
}

.li-photos-hero:not(:last-child) {
    margin-right: 24px;
}

.ul-portfolio-main {
    display: flex;
    justify-content: center;
    padding-bottom: 84px;
    padding-top: 108px;
    padding-left: 0;
    margin: 0;
}

.li-portfolio-main:not(:last-child) {
    margin-right: 24px;
}

.ul-portfolio-job {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.li-portfolio-job:not(:last-child) {
    margin-right: 24px;
}

.body-text {
    color: var(--color-main);
}

.div-text-hero {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.text-team {
    width: 162px;
    font-weight: 600;
    line-height: 1.11;
    font-size: 36px;
    position:relative;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 72px;
    color: var(--color-a);
}

.text-h-two {
    width: 322px;
    font-weight: 600;
    line-height: 1.11;
    font-size: 36px;
    position:relative;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 72px;
    color: var(--color-a)
}

.text-person {
    font-weight: 500;
    line-height: 1.17;
}

.div-main {
    align-items: center;
}

.container-main {
    background-color: var(--color-a);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    padding-top: 100px;
    padding-bottom: 16px;
    display: block;
    text-transform: uppercase;
    color: var(--color-link);
    text-decoration: none;
}

.logo-footer span {
    color: var(--color-logo-footer);
}

.logo {
    font-family: 'Raleway', sans-serif;
    margin-right: 77px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-link);
}

.logo span {
    color: var(--color-a);
}

.white {
    width: 264px;
    height: 72px;
    left: 156px;
    padding-bottom: 100px;
}

.footer {
    background: var(--color-a);
}

.link-nav {
    font-weight: 600;
    color: var(--color-a);
    text-decoration: none;
}

.link-nav:hover {
    color: var(--color-addres);
}

.link-nav:focus {
    color: var(--color-link);
}

.link-nav:active {
    color: var(--color-link)
}


.link-contacts {
    font-weight: 400;
    text-decoration: none;
    color: var(--color-addres);
}

.link-contacts:hover {
    color: var(--color-link);
}

.link-contacts:focus {
    color: var(--color-link);
}

/* div {
    
} */

.text-h-three {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.text-section-job {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--color-a);
}

.capital-letter {
    width: 600px;
    font-size: 56px;
    line-height: 1.07;
    font-weight: 600; 
    margin: 0 auto;
    margin-bottom: 48px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-fff);
}

.button-portfolio {
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 3px 1px var(--color-button-portfolio), 0px 2px 1px var(--color-button-portfolio-one), 0px 2px 2px var(--color-button-portfolio-two);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    background: var(--color-logo-footer);
    color: var(--color-link);
}

.button-portfolio:hover {
    background: var(--color-link);
    cursor: pointer;
    color: var(--color-fff);
}

.button-portfolio:focus {
    background: var(--color-link);
    color: var(--color-fff);
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 51px;
    background: var(--color-link);
    box-shadow: 0px 4px 4px var(--color-button-rgba);
    border-radius: 4px;
    color: var(--color-fff);
}

.button:hover {
    background: var(--color-link);
    color: var(--color-fff);
    box-shadow: 0px 1px 6px var(--color-button-ind), 0px 1px 1px var(--color-button-inde), 0px 2px 1px var(--color-button-index);
}

.button:focus {
    background: var(--color-link);
    color: var(--color-fff);
}

.button:active{
    color: var(--color-fff);
    background: var(--color-active);
    box-shadow: 0px 4px 4px var(--color-button-rgba)
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.white {
    color: var(--color-p-footer)
}

.team {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-a)
}

.div-portfolio-job {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}